# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
.env

# Django media
media/

# Database
db.sqlite3

# Compiled Python files
*.pyc

# Compiled C extensions
*.so

# Distribution / packaging
bin/
dist/
build/
*.egg-info/
